.new__users{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 21px;

    p{
        font-size: 14px;
    }

    a{
        background: #107FEE;
        color: #FFFFFF;
        padding: 6px 10px 6px 11px;
        border-radius: 16px;
        font-size: 14px;
    }
}