.sidebar{
    margin-left: 60px;
    width: 20%;
    &__logo{
        display: flex;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 6rem;
        margin-left: 5px;

        img{
            object-fit: contain;
            width: 31px;
        }

        h1{
            color: #707070;
            font-size: 1rem;
        }
    }
}