li{
    display: flex;
    align-items: center;
   
    // justify-content: space-evenly;


    margin-left: 1rem;
    margin-bottom: 1rem;

    & > a{
        display: flex;
        align-items: center;
        // justify-content: space-between;
        // background: #01161E;
        color: #01161E;
        width: 200px;
        height: 50px;
        background: #FCFBFB;
        // height: 50px;
        // width: 260px;
        font-size: 0.8rem;
        // border-radius: 6px;
        // // padding: 10px 20px;
        // margin-bottom: 1rem;
        // margin-left: 1rem;
    
        img{
            width: 16px;
            object-fit: contain;
            margin-right: 50px;
            margin-left: 24px;
        }
    }
    .is-active{
        background: #01161E;
        color: #fff;
        border-radius: 6px;
    }
}

