.track__button{
    display: flex;
    border-radius: 20px;
    // padding: 9px 20px;
    outline: none;
    border: 0;
    color: #FCFBFB;
    margin-left: 0.5rem;
    width: 70px;
    height: 43px;
    justify-content: center;
    align-items: center;
}